body
{
  background: url('./weatherback.png');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.searchbar
{
   height: 10vh;

   display: flex;
   align-items: center;
   justify-content: center;
}

.searchbarparentdiv
{
    width: 50%;
    height: fit-content;
    position: relative;


}

.inputfield
{
    width: 100%;
    padding: 10px;
    
}

.searchicon
{
    position: absolute;
    right: 10px;
    top: 5px;

    
}
.searchicon:hover
{
    cursor: pointer;
}

.maincontentparentdiv
{
    height: 90vh;

}

.inputfield
{
    outline: none;
}

.leftdiv
{
    width: 30%;
    height: 100%;
}

.leftchild
{
    background: rgba(212,212,212,0.4);
    width: 85%;
    height: 40vh;
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.rightdiv
{
    width: 70%;
    height: 100%;
}

.rightrow
{
    height: 25vh;
    width: 100%;
}
.currtempdiv h6
{
    font-size: larger;
}
#cityname
{
    font-size: xx-large;
}

#citytemp
{
    font-size: x-large;
}
#cmg5days
{
    font-size: x-large;
}
.extrametric
{
    background: rgba(212,212,212,0.4);
    padding:3%;
    width: fit-content;
    border-radius: 15px;

}
#mn
{
    font-size: x-large;
}
#mv
{
    font-size: larger;
}
.AQI
{
    background: rgba(212,212,212,0.4);
    padding:3%;
    width: fit-content
    height: 85%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.sunrise
{
    background: rgba(212,212,212,0.4);
    padding:3%;
    width: 45%
    height: 85%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.r3
{
    background: rgba(212,212,212,0.4);
    padding:3%;
    width: fit-content;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
